<%= form_for(bill) do |f| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section %>
    <%= f.text_field :section %>
  </div>

  <div class="field">
    <%= f.label :dvno %>
    <%= f.text_field :dvno %>
  </div>

  <div class="field">
    <%= f.label :month %>
    <%= f.date_select :month %>
  </div>

  <div class="field">
    <%= f.label :typebill %>
    <%= f.text_field :typebill %>
  </div>

  <div class="field">
    <%= f.label :compactor %>
    <%= f.text_field :compactor %>
  </div>

  <div class="field">
    <%= f.label :rack %>
    <%= f.text_field :rack %>
  </div>

  <div class="field">
    <%= f.label :shelf %>
    <%= f.text_field :shelf %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
