

<div class="row">

<div class="col-lg-6 col-md-4">
Store A Bill? <br><span class="glyphicon glyphicon-hand-right blink_me" aria-hidden="true"></span>
 <span class="blink_me"><%= link_to 'Click Here',  new_bill_path, class: 'btn btn-lg btn-success' %> </span>
</div>


<div class="col-xs-6 col-md-4 pull-right">
 Retrieve A Bill? <br><span class="glyphicon glyphicon-hand-right blink_me" aria-hidden="true"></span>
 <span class="blink_me"><%= link_to 'Click Here',  new_search_path, class: 'btn btn-lg btn-warning' %> </span>


  
</div>

</div>
<div class="row">
<h1>Bills</h1>
</div>



<h2>Import Bills</h2>

<%= form_tag import_bills_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


<p>
  Download:
  <%= link_to "CSV", bills_path(format: "csv") %> |
  <%= link_to "Excel", bills_path(format: "xls") %>
</p>

<div class="media">
 
  <div class="media-body">
    <table class="table table-hover">  
  <thead>
    <tr>
      <th>Section</th>
      <th>Year</th>
      <th>Month</th>
    <th> Dvno</th>
      <th>Billtype</th>
      <th>Rack</th>
      <th>Shelf</th>
      <th>Shell Address</th>
      <th>Bundle No</th>
      <!--
      <th>User</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.section %></td>
        <td><%= bill.year %></td>
        <td><%= bill.month %></td>  
        <td><%= bill.dvno %></td>  
        <td><%= bill.typebill %></td>
        <td><%= bill.compactor %></td>
        <td><%= bill.rock %></td>
        <td><%= bill.shelf %></td>
        <td><%= bill.bundleno %></td>
        <!--
        <td><%= bill.user_id %></td> -->
        
        <td><%= link_to 'Show', bill, class: 'btn btn-sm btn-info' %></td>
        <% if can? :manage, User %>
        <td><%= link_to 'Edit', edit_bill_path(bill), class: 'btn btn-sm btn-success' %></td>
       <% end %>
       
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
     
      </tr>
    <% end %>
    
  </tbody>
</table>
</div>

<br>
<div class="apple_pagination">
   
    <%= will_paginate @bills, :container => false %>
  </div>

</div>