

<div class="border-form-div">
<p>
  <strong>Section:</strong>
  <%= @bill.section %>
</p>


<p>
  <strong>Year:</strong>
  <%= @bill.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @bill.month %>
</p>

<p>
  <strong>Dvno:</strong>
  <%= @bill.dvno %>
</p>

<p>
  <strong>Billtype:</strong>
  <%= @bill.typebill %>
</p>

<p>
  <strong>Rack:</strong>
  <%= @bill.compactor %>
</p>

<p>
  <strong>Shelf:</strong>
  <%= @bill.rock %>
</p>

<p>
  <strong>Shell Address:</strong>
  <%= @bill.shelf %>
</p>

<p>
  <strong>BundleNo:</strong>
  <%= @bill.bundleno %>
</p>
<!--
<p>
  <strong>User:</strong>
  <%= @bill.user_id %>
</p>
-->
<% if can? :manage, User %>
<%= link_to 'Edit', edit_bill_path(@bill), class: 'btn btn-min btn-info' %> |
<% end %>
<%= link_to 'Back', bills_path, class: 'btn btn-min btn-danger' %>

</div>