<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @bill.section %>
</p>

<p>
  <strong>Dvno:</strong>
  <%= @bill.dvno %>
</p>

<p>
  <strong>Month:</strong>
  <%= @bill.month %>
</p>

<p>
  <strong>Typebill:</strong>
  <%= @bill.typebill %>
</p>

<p>
  <strong>Compactor:</strong>
  <%= @bill.compactor %>
</p>

<p>
  <strong>Rack:</strong>
  <%= @bill.rack %>
</p>

<p>
  <strong>Shelf:</strong>
  <%= @bill.shelf %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
