<h1>Advanced Search</h1>


<%= form_for @search, html: {class: "pure-form"} do |f| %>

<div class="field">
	<%= f.label :keywords %><br />
  <%= f.text_field :keywords %>
</div>


<div class="field">
	<%= f.label :section %><br />
  <%= f.text_field :section %>
</div>

<div class="field">
  <%= f.label :month %><br />
  <%= f.text_field :month %>
</div>

<div class="field">
<%= f.label :dvno %><br />
<%= f.text_field :dvno %>
</div>


<div class="actions"><%= f.submit "Search", class: "pure-form pure-button-primary" %></div>
<% end %>

<p><%= link_to 'Back', bills_path %></p>